footer {
  color: black;
  font-size: 14px;
  font-weight: 200;
  margin-top: -5px;
}

.WeatherApp {
  text-align: center;
  color: white;
}

.WeatherApp-container {
  background: #324974;
  box-shadow: 5px 12px 12px 2px #0d193fbd;
  height: auto;
  margin: 30px auto;
  max-width: 600px;
  text-align: center;
}

.WeatherApp-content {
  padding: 5px 10px;
}

.React-logo {
  height: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .React-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.linkedin-link,
.github-link {
  color: #2eb6db;
  text-decoration: none;
}

.linkedin-link:hover,
.github-link:hover {
  color: #54cbec;
  text-decoration: underline;
}
