form {
  padding: 25px 30px 25px;
}

form .form-control {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 300;
}

form .search-input {
  border-radius: 0;
  box-shadow: 5px 3px 3px 1px #202a4bbd;
  font-family: "Poppins", sans-serif;
}

form #submit-btn {
  background: #45c1e4;
  box-shadow: 5px 3px 3px 1px #202a4bbd;
  border: 1px solid #54cbec;
  border-radius: 0;
  color: white;
  font-size: 16px;
  font-weight: 300;
  width: 100px;
}

form #submit-btn:hover {
  background: white;
  border: 1px solid white;

  color: #45c1e4;
  font-weight: 300;
  transition: all 200ms ease-in-out;
}
