form {
  padding: 20px 30px 25px;
}

form .form-control {
  border: 1px solid rgb(56, 56, 56);
  border-radius: 0;
  box-shadow: 3px 3px 3px 2px rgb(56, 56, 56);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 25px;
  width: 108%;
  margin-left: 10px;
}

form .search-input {
  box-shadow: 5px 3px 3px 1px #202a4bbd;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  padding-left: 20px;
}

.search-city-button {
  border-radius: 0;
  border: 1px solid white;
  color: white;
  font-size: 18px;
  padding: 5px 10px;
  position: relative;
  left: 5px;
}

.search-city-button:hover {
  background-color: transparent;
  border-color: white;
  border-radius: 0;
  color: white;
  transition: all 200ms ease-in-out;
}

@media (max-width: 800px) {
  form {
    padding: 20px 20px;
  }

  form .search-input {
    font-size: 13px;
    padding-left: 15px;
  }
}
