.WeatherInfo {
  padding: 5px 20px;
}

.current-location {
  font-size: 27.5px;
  font-weight: 500;
  margin-top: -5px;
  margin-bottom: -48px;
  text-align: center;
  text-transform: uppercase;
}

.current-local-time {
  font-weight: 100;
  line-height: 24px;
  margin: 44px 0 10px;
  padding: 2px;
  text-align: center;
}

.current-temperature {
  font-size: 55px;
  font-weight: 500;
  margin-left: 15px;
}

.unit {
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 1px;
  position: relative;
  bottom: 20px;
  left: 2px;
}

.current-weather-description {
  color: #61d9fb;
  font-size: 19px;
  font-weight: 200;
  margin: 2px 0 25px;
  text-transform: uppercase;
}

.current-weather-details {
  font-size: 16px;
  font-weight: 200;
  line-height: 25px;
}

.current-weather-details .col-4 p {
  border: 1px solid #61d9fb;
  color: #ffffff;
  padding: 10px;
}
