.WeatherInfo .col-5 {
  text-align: center;
}

.WeatherInfo .current-local-time {
  font-size: 15px;
  font-weight: 200;
  margin-top: 8px;
  text-align: center;
}

.WeatherInfo .current-location {
  color: white;
  font-size: 22px;
  font-weight: 400;
  margin: 20px 0 -10px;
  text-align: center;
}

.WeatherInfo .current-weather-description {
  color: #61d9fb;
  font-weight: 300;
  font-size: 16px;
  margin-top: 28px;
}

.current-weather-description:first-letter {
  text-transform: capitalize;
}

.WeatherInfo .current-icon {
  position: relative;
  top: 50px;
  left: 25px;
}

.WeatherInfo .current-temperature {
  font-size: 40px;
  font-weight: 400;
  margin-top: 20px;
  text-align: center;
}

.WeatherInfo .unit {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  position: relative;
  bottom: 14px;
  left: 5px;
}

.WeatherInfo .max-and-min-temperatures {
  font-size: 14px;
  font-weight: 200;
  line-height: 28px;
  margin-top: 25px;
  text-align: center;
  position: relative;
  right: 13px;
}

.WeatherInfo .current-weather-details ul {
  color: white;
  font-size: 13px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
  position: relative;
  left: 332px;
  bottom: 118px;
}

@media (max-width: 800px) {
  .WeatherInfo .current-local-time {
    font-size: 13px;
  }

  .WeatherInfo .current-icon {
    position: relative;
    top: 45px;
    left: 35px;
  }

  .WeatherInfo .current-temperature {
    font-size: 38px;
  }

  .WeatherInfo .unit {
    position: relative;
    bottom: 12px;
    left: 5px;
  }

  .WeatherInfo .max-and-min-temperatures {
    font-size: 12px;
    margin-top: 20px;
  }

  .WeatherInfo .current-weather-description {
    font-size: 14px;
    margin-top: 25px;
  }

  .WeatherInfo .current-weather-details ul {
    font-size: 11px;
    line-height: 18px;
    position: relative;
    left: 243px;
    bottom: 108px;
  }
}
