.WeatherInfo .current-location {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  margin-top: 5px;
  text-align: center;
}

.WeatherInfo .current-local-time {
  color: #ffffff;
  font-size: 14px;
  font-weight: 100;
  margin-top: 3px;
  text-align: center;
}

.WeatherInfo .current-icon-and-temperature {
  color: white;
  display: block;
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 5px;
}

.WeatherInfo .current-icon {
  margin-top: 20px;
  margin-bottom: -14px;
}

.WeatherInfo .unit {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  position: relative;
  bottom: 18px;
  left: 5px;
}

.WeatherInfo .current-weather-description {
  color: #61d9fb;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin: 10px 0px 10px;
  text-align: center;
}

.current-weather-description:first-letter {
  text-transform: capitalize;
}

.WeatherInfo .current-weather-details ul {
  color: white;
  font-size: 11px;
  font-weight: 200;
  line-height: 22px;
  list-style: none;
  text-align: right;
  position: relative;
  bottom: 110px;
  right: 25px;
}
